
{% extends "layout.html" %}
{% block container %}
<div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="{{url_for('showHome')}}">Home</a> <span class="mx-2 mb-0">/</span> <strong>Categories</strong><span class="mx-2 mb-0">/</span><strong class="text-black">New</strong></div>
          </div>
        </div>
      </div>  
  
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">New Category</h2>
            </div>
            <div class="col-md-12">
  
              <form action="{{url_for('newCategory')}}" method="post">
                
                <div class="p-3 p-lg-5 border">
                  <div class="form-group row">
                    <div class="col-md-9">
                      <label for="name" class="text-black">Category Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="name" name="name" required>
                    </div>

                  </div>

                  <div class="form-group row">
                    <div class="col-lg-6">
                      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create">
                    </div>
                    <div class="col-lg-6">
                        <a href="{{url_for('showHome')}}">
                            <input type="button" class="btn btn-secondary btn-lg btn-block" value="Cancel">
                        </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>

{% endblock %}
          
